// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
html {
  font-size: 62.5%;
}

body {
  font-family: 'Fira Sans', sans-serif;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 600;
  color: $primary;
}

.entry-content p,
.entry-content li,
.entry-content td,
.pagination li {
  font-size: 1.5rem;

  @include media-breakpoint-up(md) {
    font-size: 1.8rem;
  }
}

.header-top {
  background: darken($primary, 3%);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1050;
}

.contact-menu {
  padding-left: 0;
  margin-bottom: 0;

  li {
    font-size: 1.8rem;
    margin-bottom: 0.5em;

    &.fa-phone::before {
      content: '\f095';
      font-family: 'FontAwesome';
      font-size: 2.4rem;
      color: $secondary;
      margin-right: 0.5em;
    }

    &.fa-envelope::before {
      content: '\f0e0';
      font-family: 'FontAwesome';
      font-size: 2.4rem;
      color: $secondary;
      margin-right: 0.5em;
    }
  }

  @include media-breakpoint-up(md) {
    li {
      font-size: 1.2rem;
      margin-bottom: 0;

      &.fa-phone::before {
        content: '\f095';
        font-family: 'FontAwesome';
        font-size: 1.6rem;
        color: $secondary;
        margin-right: 0.5em;
      }

      &.fa-envelope::before {
        content: '\f0e0';
        font-family: 'FontAwesome';
        font-size: 1.6rem;
        color: $secondary;
        margin-right: 0.5em;
      }
    }
  }

  a {
    color: $white;

    &:focus,
    &:hover {
      color: $secondary;
    }
  }
}

.navbar {
  li {
    text-transform: uppercase;
    font-size: 1.8rem;

    @include media-breakpoint-up(lg) {
      font-size: 1.4rem;
    }
  }

  .dropdown-item {
    margin: 0.5rem 1.5rem;

    @include media-breakpoint-up(md) {
      margin: 0.35rem 0;
    }
  }
}

.fixed-top {
  top: 100px;

  @include media-breakpoint-up(sm) {
    top: 55px;
  }

  @include media-breakpoint-up(md) {
    top: 34px;
  }
}

#page-wrapper,
#full-width-page-wrapper,
#archive-wrapper,
#single-wrapper {
  margin-top: 166px;

  @include media-breakpoint-up(sm) {
    margin-top: 121px;
  }

  @include media-breakpoint-up(md) {
    margin-top: 101px;
  }
}

.logged-in #page-wrapper,
.logged-in #full-width-page-wrapper,
.logged-in #archive-wrapper,
.logged-in #single-wrapper {
  @include media-breakpoint-up(md) {
    margin-top: 66px;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: $primary;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .active .nav-link,
.navbar-light .navbar-nav .active .nav-link:hover {
  color: $secondary;
}

.navbar-brand img {
  max-width: 50px;
}

.navbar-light {
  .navbar-toggler {
    color: $primary;
    border-color: $secondary;
    background-color: $primary;
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(194,147,49, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
}

.footer-menu {
  margin-bottom: 0;
  padding-left: 1.5rem;

  li {
    font-size: 1.4rem;
    list-style: none;

    &.current-menu-item a {
      color: $secondary;
    }
  }

  a {
    color: $white;

    &:focus,
    &:hover {
      color: $secondary;
    }
  }
}

.wrapper {
  padding: 0;
}

.footer-main {
  padding-top: 30px;
  padding-bottom: 30px;
}

.banner {
  min-height: 300px;
  padding-top: 100px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  @include media-breakpoint-up(md) {
    min-height: 500px;
    padding-top: 260px;
  }

  .entry-header {
    display: inline-block;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
  }

  .btn {
    font-size: 2.2rem;
  }

  &.default {
    background-image: url('https://www.linksrecruitment.co.uk/wp-content/uploads/2018/07/coffee-time.jpg');
  }

  &.jobs {
    min-height: 200px;
    padding-top: 50px;
  }

  h1 {
    color: $white;
    font-size: 4.8rem;
    text-transform: uppercase;
    text-shadow: -1px 3px 0 #2c2c2c;

    & span {
      color: $primary;
    }
  }
}

.page-template-sector-page {
  .banner {
    .entry-header {
      display: inline-block;
      transform: translateY(-25%);
      padding: 1rem;
      background: rgba(0, 0, 0, 0.3);
      border-radius: 5px;

      @include media-breakpoint-up(md) {
        transform: translateY(-60%);
      }

      @include media-breakpoint-up(lg) {
        transform: translateY(-50%);
      }
    }
  }
}

.page-id-12 .banner {
  background-position: center right;
}

.home {
  .carousel-item {
    background-color: $black;
  }

  .carousel-control-prev,
  .carousel-control-next {
    opacity: 0.9;

    @include media-breakpoint-up(md) {
      opacity: 0.9;
    }

    &-icon {
      fill: $secondary;
    }
  }

  .carousel-control-prev {
    left: -1em;
  }

  .carousel-control-next {
    @include media-breakpoint-down(sm) {
      right: -1em;
    }
  }

  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    @include media-breakpoint-up(lg) {
      height: 40px;
      width: 40px;
    }
  }

  .carousel-indicators .active {
    background-color: $secondary;
  }

  .carousel-caption {
    bottom: 10%;
    left: 8%;
    right: 8%;
    background: rgba(0, 0, 0, 0.3);
    padding: 1rem;
    border-radius: 5px;

    @include media-breakpoint-up(sm) {
      bottom: 25%;
      right: 25%;
      left: 25%;
    }

    @include media-breakpoint-up(md) {
      bottom: 30%;
      right: 15%;
      left: 15%;
    }

    @include media-breakpoint-up(xl) {
      bottom: 40%;
      left: 25%;
      right: 25%;
    }

    h2 {
      font-size: 2rem;
      text-shadow: -1px 1px 0 #2c2c2c;

      @include media-breakpoint-up(sm) {
        font-size: 2.4rem;
      }

      @include media-breakpoint-up(md) {
        font-size: 3.6rem;
        text-shadow: -1px 3px 0 #2c2c2c;
      }

      @include media-breakpoint-up(lg) {
        font-size: 4.8rem;
      }

      & a {
        color: $white;
        text-decoration: none;
      }
    }

    .btn {
      font-size: 1.6rem;
      text-shadow: -1px 2px 0 #2c2c2c;

      @include media-breakpoint-up(sm) {
        font-size: 1.8rem;
      }

      @include media-breakpoint-up(lg) {
        font-size: 2.2rem;
      }
    }
  }

  h1 {
    font-size: 2.8rem;
    margin: 2rem 0;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;

    &::before {
      flex-grow: 1;
      height: 2px;
      content: '';
      background-color: $secondary;
      position: absolute;
      bottom: -1rem;
      width: 80px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  @media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) {
    h1 {
      margin: 4.5rem 0;
    }
  }


  .entry-content {
    h2 {
      font-size: 2.2rem;
      margin-bottom: 3.6rem;
      position: relative;
      padding-top: 1rem;
      text-transform: none;

      &::before {
        display: none;
      }
    }

    p {
      font-size: 1.8rem;
    }
  }
}

.section-header,
.entry-content {
  h2 {
    font-size: 2.8rem;
    margin: 2rem 0 3.6rem;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;

    &::before {
      flex-grow: 1;
      height: 2px;
      content: '';
      background-color: $secondary;
      position: absolute;
      bottom: -1rem;
      width: 80px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.sectors-container {
  @include media-breakpoint-down(sm) {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .sector-box {
    @include media-breakpoint-down(sm) {
      flex: 0 0 auto;
    }
  }
}

.sector {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  color: #fff;
  margin: 20px;
  background: $primary;
  opacity: 0.85;

  h3 {
    color: $white;
    left: 0;
    font-size: 2.2rem;
    font-weight: 300;
    line-height: 45px;
    margin-top: -22px;
    -webkit-transition: all 0.3s ease-out 0.3s;
    -moz-transition: all 0.3s ease-out 0.3s;
    -ms-transition: all 0.3s ease-out 0.3s;
    -o-transition: all 0.3s ease-out 0.3s;
    transition: all 0.3s ease-out 0.3s;
    text-transform: uppercase;
  }

  a {
    left: 0;
    font-size: 3rem;
    color: #c29331;
    margin-top: -55px;
    opacity: 1;
    -webkit-transition: all 0.3s ease-out 0.2s;
    -moz-transition: all 0.3s ease-out 0.2s;
    -ms-transition: all 0.3s ease-out 0.2s;
    -o-transition: all 0.3s ease-out 0.2s;
    transition: all 0.3s ease-out 0.2s;

    &:hover {
      color: $white;
    }
  }

  h3,
  a {
    position: absolute;
    top: 55%;
    width: 100%;
    z-index: 2;
  }

  .fa {
    color: $secondary;
    font-size: 3rem;
  }
}

@include media-breakpoint-up(xl) {
  .overlay {
    background: transparent;
    opacity: 0;

    &::after,
    &::before {
      content: '';
      position: absolute;
      height: 100%;
      width: 50%;
      opacity: 1;
      background-color: #171c2f;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      z-index: -1;
    }

    &::after {
      left: -100%;
    }

    &::before {
      right: -100%;
    }

    h3 {
      left: -105%;
    }

    a {
      opacity: 0;
      -moz-transform: scale(0);
      -webkit-transform: scale(0);
      -o-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
    }
  }

  .sector:hover .overlay::after {
    left: 0;
  }

  .sector:hover .overlay::before {
    right: 0;
  }

  .sector:hover .overlay h3 {
    left: 0;
  }

  .sector:hover .overlay,
  .sector:hover .overlay a {
    opacity: 1;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

.testimonials {
  padding: 2rem 0 6rem;
}

#testimonial-slider {
  .carousel-indicators {
    bottom: -2rem;
  }

  .carousel-inner {
    min-height: 38rem;

    @include media-breakpoint-up(md) {
      min-height: 50rem;
    }
  }

  .carousel-item {
    background-color: transparent;
    color: $white;

    &::before {
      content: '\f10d';
      font-family: 'FontAwesome';
      display: block;
      color: $secondary;
      font-size: 4rem;

      @include media-breakpoint-up(md) {
        font-size: 8rem;
      }
    }

    p {
      font-size: 1.4rem;
      line-height: 1.5;

      @include media-breakpoint-up(md) {
        font-size: 1.8rem;
        line-height: 1.7;
      }

      position: relative;
    }
  }
}

.job-links {
  padding: 2rem 0 5rem;

  .list-group {
    li {
      font-size: 1.6rem;
      line-height: 1.5;

      @include media-breakpoint-up(md) {
        font-size: 1.8rem;
        line-height: 1.7;
      }
    }

    a {
      color: $primary;

      &:hover,
      &:focus {
        color: $secondary;
      }
    }
  }

  .badge {
    font-weight: normal;
  }
}

.page-template-candidate-page #testimonial-slider {
  .carousel-indicators {
    bottom: -2rem;
  }

  .carousel-inner {
    min-height: 18rem;

    @include media-breakpoint-up(md) {
      min-height: 24rem;
    }
  }
}

.contact {
  background: $primary url('../img/contact-bg.jpg') no-repeat;
  background-position: 50% 55%;
  background-size: cover;
  padding-top: 5%;
  padding-bottom: 5%;

  .box {
    display: inline-block;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
  }

  h2 {
    color: #fff;
    font-size: 1.8rem;

    text-shadow: -1px 3px 0 #2c2c2c;
    margin-bottom: 1rem;
    text-transform: uppercase;

    @include media-breakpoint-up(md) {
      font-size: 3.6rem;
      margin-bottom: 1.5rem;
    }
  }

  .btn.btn-primary {
    background-color: transparent;
    border-color: white;
    color: white;
    text-transform: uppercase;
    border-radius: 0;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Fira Sans', sans-serif;
    padding: 10px 27px;
    position: relative;
    overflow: hidden;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    z-index: 1;
  }

  .btn.btn-primary::after,
  .btn.btn-primary::before {
    position: absolute;
    content: '';
    background-color: white;
    color: $secondary;
    height: 0;
    width: 0;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    z-index: -1;
  }

  .btn.btn-primary::before {
    left: 0;
    top: 50%;
  }

  .btn.btn-primary::after {
    right: 0;
    bottom: 50%;
  }

  .btn.btn-primary:hover::after,
  .btn.btn-primary:hover::before {
    width: 100%;
    height: 100%;
  }

  .btn.btn-primary:hover::before {
    left: 50%;
    top: 0;
  }

  .btn.btn-primary:hover::after {
    right: 50%;
    bottom: 0;
  }

  .btn.btn-primary:hover {
    color: $secondary;
  }
}

.footer-bottom {
  background-color: $white;
  padding-top: 3rem;
  padding-bottom: 3rem;

  p {
    font-size: 1.4rem;
  }

  .fa {
    color: $secondary;
    font-size: 1.4rem;
    margin-right: 0.5em;
  }

  .custom-html-widget h3 {
    margin-top: 1rem;
  }

  #media_image-2 {
    margin-bottom: 0.6em;
  }
}

.about-section {
  padding-top: 5%;
  padding-bottom: 5%;

  h3 {
    font-size: 2.8rem;
    margin: 2rem 0 3.6rem;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    font-style: italic;

    &::before {
      flex-grow: 1;
      height: 2px;
      content: '';
      background-color: $secondary;
      position: absolute;
      bottom: -1rem;
      width: 80px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  p {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 3rem;

    @include media-breakpoint-up(md) {
      font-size: 1.8rem;
      line-height: 1.7;
      margin-bottom: 4rem;
    }
  }
}

.wp-video {
  margin-top: 9em;
}

.candidate-section {
  padding-top: 5%;
  padding-bottom: 5%;

  h2 {
    font-size: 2.8rem;
    margin: 2rem 0 3.6rem;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;

    &::before {
      flex-grow: 1;
      height: 2px;
      content: '';
      background-color: $secondary;
      position: absolute;
      bottom: -1rem;
      width: 80px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  p {
    font-size: 1.5rem;
    line-height: 1.5;

    @include media-breakpoint-up(md) {
      font-size: 1.8rem;
      line-height: 1.7;
    }
  }
}

.wp-video {
  margin-top: 9em;
}

.mejs-controls,
.mejs-controls:hover {
  display: none !important;
  visibility: hidden !important;
}

.sector-section {
  padding-top: 5%;
  padding-bottom: 5%;

  .wp-video {
    margin-top: 0;
  }

  h2 {
    font-size: 2.8rem;
    margin: 2rem 0 3.6rem;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;

    &::before {
      flex-grow: 1;
      height: 2px;
      content: '';
      background-color: $secondary;
      position: absolute;
      bottom: -1rem;
      width: 80px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  p {
    font-size: 1.5rem;
    line-height: 1.5;

    @include media-breakpoint-up(md) {
      font-size: 1.8rem;
      line-height: 1.7;
    }
  }
}

.sector-outline {
  padding-top: 1%;
  padding-bottom: 5%;

  h2 {
    color: $white;
    font-size: 2.8rem;
    margin: 2rem 0 3.6rem;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;

    &::before {
      flex-grow: 1;
      height: 2px;
      content: '';
      background-color: $secondary;
      position: absolute;
      bottom: -1rem;
      width: 80px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  p {
    color: $white;
    font-size: 1.5rem;
    line-height: 1.5;

    @include media-breakpoint-up(md) {
      font-size: 1.8rem;
      line-height: 1.7;
    }
  }

  ul {
    list-style: none;
    margin-top: 3em;
    margin-bottom: 3em;
    padding-left: 0;

    li {
      list-style: none;
      color: $secondary;

      font-size: 1.5rem;
      line-height: 1.5;

      @include media-breakpoint-up(md) {
        font-size: 1.8rem;
        line-height: 1.7;
      }
    }
  }
}

.why {
  padding-bottom: 3em;

  p,
  .lead {
    font-size: 1.6rem;
    font-weight: bold;
    margin: 1em 0 4em;

    @include media-breakpoint-up(md) {
      font-size: 2rem;
    }
  }

  p {
    font-weight: normal;
    margin-bottom: 2em;
  }

  h3 {
    font-weight: bold;
    font-size: 2rem;

    @include media-breakpoint-up(md) {
      font-size: 2.4rem;
    }
  }
}

.benefits {
  padding-bottom: 1em;

  h2,
  h3,
  p {
    color: $white;
  }

  h2 {
    font-size: 2.8rem;
    margin: 2rem 0 3.6rem;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;

    &::before {
      flex-grow: 1;
      height: 2px;
      content: '';
      background-color: $secondary;
      position: absolute;
      bottom: -1rem;
      width: 80px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  h3 {
    font-weight: bold;
    font-size: 2rem;

    @include media-breakpoint-up(md) {
      font-size: 2.4rem;
    }
  }

  p {
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 0 3em 2em;

    @include media-breakpoint-up(md) {
      font-size: 1.8rem;
      line-height: 1.7;
    }
  }
}

.aims {
  padding-bottom: 3em;

  p,
  .lead {
    font-size: 1.6rem;
    font-weight: bold;
    margin: 1em 0 2em;

    @include media-breakpoint-up(md) {
      font-size: 2rem;
    }
  }

  p {
    font-weight: normal;
    margin-bottom: 2em;
  }
}

.contact-section {
  padding-top: 5%;
  padding-bottom: 5%;

  h2 {
    font-size: 2.8rem;
    margin: 2rem 0 3.6rem;
    text-transform: uppercase;

    span {
      color: $secondary;
    }
  }

  p {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 2em;

    @include media-breakpoint-up(md) {
      font-size: 1.8rem;
      line-height: 1.7;
    }

    a {
      text-decoration: none;

      &:hover {
        color: $secondary;
      }
    }
  }

  .fa {
    color: $secondary;
    margin-right: 0.5em;
  }
}

.acf-map {
  width: 100%;
  height: 500px;
  border: $primary solid 1px;
  margin: 20px 0;

  img {
    max-width: inherit !important;
  }
}

.entry-content .wpcf7 {
  max-width: auto !important;
}

.page-template-sector-page {
  .banner {
    h1 {
      opacity: 1;
    }
  }
}

.form-control,
.wpcf7 input[type='email'],
.wpcf7 input[type='submit'],
.wpcf7 input[type='tel'],
.wpcf7 input[type='text'] {
  padding: 0.5rem 0.75rem;
  font-size: 1.6rem;
}

.wpcf7 input[type='email']::placeholder,
.wpcf7 input[type='submit']::placeholder,
.wpcf7 input[type='tel']::placeholder,
.wpcf7 input[type='text']::placeholder {
  color: $primary;
}

.btn-outline-primary,
.wpcf7 input[type='submit'] {
  color: $white;
  border-color: $white;
  font-size: 1.6rem;
}

.btn-outline-primary:hover,
.wpcf7 input:hover[type='submit'] {
  color: $primary;
  background-color: $secondary;
}

.jobs {
  h1 {
    font-size: 2.2rem;
    transform: translateY(-50%);

    @include media-breakpoint-up(md) {
      font-size: 3.6rem;
    }
  }

  .entry-meta {
    font-size: 1.5rem;
    line-height: 1.5;
    padding-left: 0;

    @include media-breakpoint-up(md) {
      font-size: 1.8rem;
      line-height: 1.7;
    }

    li {
      list-style: none;
      color: $secondary;

      @include media-breakpoint-up(md) {
        display: inline;
        margin: 0 0.5em;
      }
    }

    a {
      color: $white;

      &:focus,
      &:hover {
        color: $secondary;
      }
    }
  }

  .cta {
    padding-left: 0;

    li {
      display: inline-block;
      list-style: none;
      margin: 1em 1em 0 0;

      @include media-breakpoint-up(sm) {
        margin: 1em 1em 1em 0;
      }
    }
  }

  .btn {
    font-size: 1.8rem;

    i {
      margin-right: 0.5em;
    }
  }
}

.single-jobs {
  .banner {
    .entry-header {
      transform: translateY(0);
      display: block;
      background: none;
    }

    h1 {
      transform: translateY(0);
    }
  }

  .list-group {
    margin-bottom: 2rem;
  }

  .desc-subtitle {
    font-weight: 600;
    font-size: 1.7rem;

    @include media-breakpoint-up(md) {
      font-size: 1.9rem;
    }
  }

  .post-navigation {
    font-size: 1.4rem;
    padding-top: 0.5rem;
    border-top: 1px solid $secondary;
  }
}

.archive {
  .banner.jobs {
    padding-top: 100px;
  }

  .jobs {
    .entry-meta {
      margin-top: 0.5em;

      @include media-breakpoint-up(md) {
        font-size: 1.5rem;
        line-height: 1.5;
      }
    }

    li {
      color: secondary;
      margin-left: 0;
      margin-right: 1em;
    }

    a {
      color: $primary;
    }
  }

  article {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid $gray-200;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}

.error404 {
  .banner.jobs {
    padding-top: 100px;
  }

  .banner {
    p {
      font-size: 1.5em;
      color: $white;

      @include media-breakpoint-up(md) {
        font-size: 1.8rem;
        line-height: 1.7;
      }
    }
  }

  .widget-count-2 {
    ul {
      padding-left: 1.5rem;

      li {
        font-size: 1.5em;

        @include media-breakpoint-up(md) {
          font-size: 1.6rem;
          line-height: 1.7;
        }
      }
    }
  }

  .widget_search {
    margin-bottom: 2rem;
  }
}

.search {
  .banner.jobs {
    padding-top: 100px;
  }

  p {
    font-size: 1.5rem;
    line-height: 1.5;

    @include media-breakpoint-up(md) {
      font-size: 1.8rem;
      line-height: 1.7;
    }
  }

  .btn {
    font-size: 1.5rem;
  }

  article {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid $gray-200;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}

.navbar-nav .search {
  position: relative;

  .fa {
    font-size: 1.4rem;
    margin-top: 0.75rem;
    margin-left: 0.5rem;
  }

  .search-form {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;

    @include media-breakpoint-up(md) {
      width: 50rem;
    }

    input[type='search'] {
      background: $white;
      border: 1px solid $gray-400;
      font-size: 1.6rem;
      line-height: 1.2;
      padding: 6px 20px 6px 8px;

      &:focus {
        outline: none;
      }
    }

    .search-submit {
      border: none;
      color: $secondary;
      padding: 8px;

      &:hover {
        background: $secondary;
        color: $white;
        outline: none;
      }
    }
  }

  &.active {
    padding-bottom: 1em;
  }

  &.active .search-form {
    display: block;
  }
}

.single-jobs {
  #right-sidebar {
    margin-top: 1.8em;

    .card {
      margin-bottom: 2rem;

      .card-header h4 {
        color: $white;
      }

      h4 {
        color: $primary;
      }
    }
  }
}

.card-header.bg-primary {
  h4 {
    color: $white;
  }
}

.searchandfilter {
  ul {
    padding-left: 0;
  }

  input[type='text'],
  select {
    @extend .form-control;
  }

  select.sf-input-select {
    min-width: 190px;

    @include media-breakpoint-up(xl) {
      min-width: 225px;
    }
  }

  select:not([size]):not([multiple]),
  select.form-control:not([size]):not([multiple]) {
    height: calc(2.5rem + 2px);
  }
}

.widget_recent_entries {
  ul {
    padding-left: 0;

    li {
      list-style: none;
      font-size: 1.6rem;
      margin-bottom: 0.5em;
    }
  }
}

.assistive-text {
  @include sr-only();
}

.searchandfilter .wpcf7 select:not([size]):not([multiple]),
.searchandfilter select.form-control:not([size]):not([multiple]),
.searchandfilter select:not([size]):not([multiple]),
.wpcf7 .searchandfilter select:not([size]):not([multiple]) {
  height: calc(3.5rem + 2px);
}

.wp-pagenavi {
  clear: both;
}

.wp-pagenavi a,
.wp-pagenavi span {
  text-decoration: none;
  border: 1px solid $pagination-border-color;
  padding: 0.5rem 0.75rem;
  margin: 0;
  font-size: 1.6rem;
  color: $primary;
}

.wp-pagenavi a:hover,
.wp-pagenavi span.current {
  background-color: $secondary;
}

.wp-pagenavi span.current {
  font-weight: bold;
  background-color: $primary;
  color: $secondary;
}