// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder. 
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.


$primary: #171c2f; // Thats a sample how you could change a BootStrap variable.
$secondary: #c29331;
$bg-white: #fff;